@use "../../responsive" as *;

.homePage {
  display: flex;
  height: 100vh; // Ensures full height of viewport
  

  .textContainer {
    flex: 3;
    height: 100vh; // Matches viewport height
    overflow-y:scroll; // Enables scrollbar when content exceeds
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #d5d4f8;
    }

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      min-height: 150vh; // Ensures content overflows (causing scroll)
      
      @include md {
        padding: 0;
      }

      @include sm {
        justify-content: flex-start;
      }

      h1, h2, p {
        font-family: "Aptos", sans-serif;
      }

      .title {
        font-size: 64px;
        font-weight: bolder;

        @include lg {
          font-size: 48px;
        }
      }

      p {
        font-size: 22px; 
        line-height: 1.6;
      }

      h2 {
        font-size: 28px;
        font-weight: bold;
        margin-top: 10px;
      }

      .exploreBtn {
        height: 70px;
        width: 90%; 
        max-width: 600px; 
        padding: 15px 20px;
        font-size: 30px;
        font-weight: bolder;
        border: none;
        border-radius: 50px;
        background-color: #19191a; 
        color: white;
        cursor: pointer;
        text-align: center;
        transition: all 0.3s ease;
        margin-top: 30px; 
        display: block;
        visibility: visible;

        &:hover {
          background-color: #0d1b6a;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    border-radius: 40px;
    background-color: #dadadf;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 100%;
      position: absolute;
      right: 0;
      object-fit: cover;

      @include lg {
        width: 90%;
      }
    }
  }
}
