.register-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url('./wall4.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  padding-top: 10vh;

}

.register-container {
  width: 800px; // Increased width
  height: 600px; // Increased height
  padding: 50px;
  background: rgba(43, 42, 42, 0.1); // Made container transparent
  backdrop-filter: blur(10px);
  border-radius: 15px;
  text-align: center;
  margin-top: -50px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Align items to left
}

h2 {
  margin-bottom: 40px; // Increased space between heading and label
  font-size: 32px; // Increased heading font size
}

label {
  font-weight: bold;
  font-size: 22px; // Further increased font size
  margin-bottom: 10px;
}

input {
  width: 100%; // Increased input width
  height: 50px; // Increased input height
  padding: 14px;
  font-size: 20px; // Further increased font size
  margin-bottom: 25px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
}

.signup-btn {
  width: 80%; // Made button width bigger
  padding: 20px; // Increased button size
  font-size: 24px; // Increased font size
  font-weight: bolder; // Made font weight heavier
  background: black; // Changed background to black
  color: white; // Changed text color to white
  border: none;
  border-radius: 50px; // Made round edges 50%
  cursor: pointer;
  align-self: center; // Centered button
  margin-top: 20px; // Increased spacing
}

.signup-btn:hover {
  background: #333;
}

.login-text {
  font-size: 18px; // Increased font size
  margin-top: 15px;
  text-align: center;
  align-self: center;
}

.login-text a {
  color: #007bff;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}
