.footer {
  background-color: #0a1931;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
}